@model IEnumerable<souq.Models.Category>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#Categories').DataTable({
            // language: {
            //     url: 'https:cdn.datatables.net/plug-ins/1.13.4/i18n/ar.json' للغة العربية
            // }
        });
    });
</script>



@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="Categories">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Photo
            </td>
            <td>
                @item.Description
            </td>
            <td>
                    @*class ="btn btn-danger"class ="btn btn-success" i class='bx bx-message'*@
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
